.background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: center;
}

.children {
    position: absolute;
    max-height: 100%;
    overflow: auto;
}
